.capital>div {


    display: inline-block;
}

.heading {

    font-weight: bold;
    font-size: 25px;
    padding-top: 10px
}

#langheading {

    font-weight: bold;
    font-size: large;
    margin-top: 15px
}